<div class="main-page">
  <form [formGroup]="form" class="form">
    <mat-form-field >
      <mat-label>First input</mat-label>
      <input matInput formControlName="1"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Second input</mat-label>
      <input matInput formControlName="2"/>
    </mat-form-field>
    <div class="error" *ngIf="form.errors && form.touched">Fields can't be matching</div>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
  </form>
</div>