<div class="wrapper">
  <h1>
    Validators
  </h1>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Basic validators">
      <app-basic-validators></app-basic-validators>
    </mat-tab>
    <mat-tab label="Custom validator">
      <app-custom-validator></app-custom-validator>
    </mat-tab>
    <mat-tab label="Validator factory">
      <app-validator-factory></app-validator-factory>
    </mat-tab>
    <mat-tab label="Form group validator">
      <app-form-group-validator></app-form-group-validator>
    </mat-tab>
    <mat-tab label="Async validator">
      <app-async-validator></app-async-validator>
    </mat-tab>
  </mat-tab-group>
</div>